# Ignore everything by default.
*

# Keep Git meta and this rules file visible.
!.gitignore

# Keep manually maintained project content.
!cpu.srcs/
cpu.srcs/*
!cpu.srcs/sources_1/
!cpu.srcs/sources_1/**
!cpu.srcs/sim_1/
!cpu.srcs/sim_1/**
!cpu.srcs/constrs_1/
!cpu.srcs/constrs_1/**

# Keep docs (if/when present).
!docs/
!docs/**
!*.md
